In [1]:
import pandas as pd

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

dfAuthors = pd.read_csv('DBPediaAuthorsReducedSample.csv', sep=',', low_memory=False)
dfAuthorDnB = pd.DataFrame()
#dfAuthor = pd.read_csv('DnbDataAuthorsNew.csv', sep=',', low_memory=False)
display(dfAuthors.head())

                                               URI                              birthDate                               deathDate                                   gender                                       label                                              links                                        work
0                                              URI  http://dbpedia.org/ontology/birthDate        http://dbpedia.org/ontology/work         http://xmlns.com/foaf/0.1/gender  http://www.w3.org/2000/01/rdf-schema#label                      www.w3.org/2002/07/owl#sameAs            http://dbpedia.org/ontology/work
1                                              URI                         XMLSchema#date                          XMLSchema#list                         XMLSchema#string                            XMLSchema#string                                     XMLSchema#list                              XMLSchema#list
2              http://www.w3.org/2002/07/owl#Thing  http://www.w3.org/2001/XMLSchema#date  https://www.w3.org/2001/XMLSchema#list  http://www.w3.org/2001/XMLSchema#string     http://www.w3.org/2001/XMLSchema#string             https://www.w3.org/2001/XMLSchema#list      https://www.w3.org/2001/XMLSchema#list
3        http://dbpedia.org/resource/Abbie_Hoffman                             1936-11-30                              1989-04-12                                     male                               Abbie Hoffman  \thttp://viaf.org/viaf/79408884\thttp://www.wi...  \tSteal_This_Book\tWoodstock_Nation_(book)
4  http://dbpedia.org/resource/Adam_Oehlenschläger                             1779-11-14                              1850-01-20                                     male                         Adam Oehlenschläger  \thttp://dbpedia.org/resource/Adam_Oehlenschlä...                                         NaN

In [33]:
import rdflib
from rdflib import URIRef
import pandas as pd
import csv
from urllib.error import HTTPError


def convertResultToDataFrame( identifier ):                        
        g = rdflib.Graph()
        g.load(''.join([identifier, '/about/rdf']))
                             
        author = {}
        author['uri'] = identifier
        
        searchedFeatures = ['gender', 'preferredNameEntityForThePerson', 'dateOfBirth', 'dateOfDeath', 'preferredNameForThePerson']
        skipFeatures = []
                    
        
        for p,o in g.predicate_objects(URIRef(author['uri'])):
            pLiteral = p.split('#')[-1]
            if pLiteral in searchedFeatures:
                if pLiteral == 'gender':
                    author[pLiteral] = o.split('#')[-1] 
                
                if type(o) is rdflib.term.Literal:
                    object1 = o.split('#')[-1]
                    if(pLiteral in author):
                        author[pLiteral] = '\t '.join([author[pLiteral], object1])
                    else:
                        author[pLiteral] = object1
                
                if 'preferredNameEntityForThePerson' in pLiteral:
                    for pEntity, oEntity in g.predicate_objects(o):
                        author[pEntity.split('#')[-1]] = oEntity.split('#')[-1]
                else:
                    author[pLiteral] = o.split('#')[-1].replace('\n', '')
        return pd.DataFrame(author, index=[0])

dfAuthorDnB = pd.DataFrame()
counter = 0
for row in dfAuthors['links']:
    for link in row.split('\t'):
        if 'http://d-nb.info/gnd/' in link:
            #if link not in dfAuthor['uri'].values:
                dfAuthorDnB = dfAuthorDnB.append(convertResultToDataFrame(link), ignore_index=True, sort=True)
                if counter == 10:
                    dfAuthorDnB.to_csv('DnbDataAuthorsReduced.csv', sep=',', encoding='utf-8', index=False, quotechar='"', quoting=csv.QUOTE_ALL)
                    counter = 0
                else:
                    counter = counter + 1

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
display(dfAuthorDnB)
#dfAuthorDnB.to_csv('DnbDataAuthorsNew.csv', sep=',', encoding='utf-8', index=False, quotechar='"', quoting=csv.QUOTE_ALL)

   dateOfBirth dateOfDeath            forename    gender nameAddition personalName      preferredNameForThePerson            surname                              uri
0   1936-01-01  1989-01-01               Abbie  notKnown          NaN          NaN                 Hoffman, Abbie            Hoffman   http://d-nb.info/gnd/119047438
1   1779-11-14  1850-01-20        Adam Gottlob      male          NaN          NaN  Oehlenschläger, Adam Gottlob    Oehlenschläger   http://d-nb.info/gnd/119071606
2   1937-01-01  1995-08-23                Adam  notKnown          NaN          NaN        Wiśniewski-Snerg, Adam  Wiśniewski-Snerg  http://d-nb.info/gnd/1028840020
3   1929-05-16  2012-03-27            Adrienne    female          NaN          NaN                 Rich, Adrienne               Rich   http://d-nb.info/gnd/118744895
4   1785-03-07  1873-05-22          Alessandro      male          NaN          NaN            Manzoni, Alessandro            Manzoni   http://d-nb.info/gnd/118577409
5   1913-01-01  1987-01-01              Alfred  notKnown          NaN          NaN                 Bester, Alfred             Bester   http://d-nb.info/gnd/118658654
6   1944-02-09         NaN               Alice    female          NaN          NaN                  Walker, Alice             Walker   http://d-nb.info/gnd/118884433
7   1952-01-01         NaN                 Amy    female          NaN          NaN                       Tan, Amy                Tan   http://d-nb.info/gnd/119363925
8   1621-01-01  1678-01-01              Andrew  notKnown          NaN          NaN                Marvell, Andrew            Marvell   http://d-nb.info/gnd/118578448
9   1928-01-01  2012-01-01              Andrew  notKnown          NaN          NaN                 Sarris, Andrew             Sarris   http://d-nb.info/gnd/122951786
10  1896-02-18  1966-09-28              André      male          NaN          NaN                 Breton, André             Breton   http://d-nb.info/gnd/118515187
11  1901-01-01  1976-01-01              André      male          NaN          NaN                Malraux, André            Malraux   http://d-nb.info/gnd/118576844
12  1907-01-01  1998-01-01           Dominique  notKnown          NaN          NaN                Aury, Dominique               Aury   http://d-nb.info/gnd/118598732
13  1917-02-25  1993-11-25             Anthony      male          NaN          NaN               Burgess, Anthony            Burgess   http://d-nb.info/gnd/118638092
14  1863-03-03  1947-12-15              Arthur      male          NaN          NaN                 Machen, Arthur             Machen   http://d-nb.info/gnd/118781057
15  1907-11-14  2002-01-28              Astrid    female          NaN          NaN               Lindgren, Astrid           Lindgren   http://d-nb.info/gnd/118573217
16  1849-01-22  1912-05-14              August      male          NaN          NaN             Strindberg, August         Strindberg   http://d-nb.info/gnd/118619314
17  1931-01-01  2009-01-01             Augusto  notKnown          NaN          NaN                  Boal, Augusto               Boal   http://d-nb.info/gnd/118512145
18  1572-06-11  1637-08-06                 Ben      male          NaN          NaN                    Jonson, Ben             Jonson   http://d-nb.info/gnd/118558323
19  1878-01-06  1967-07-22                Carl      male          NaN          NaN                 Sandburg, Carl           Sandburg   http://d-nb.info/gnd/118794353
20  1924-11-21         NaN         Christopher  notKnown          NaN          NaN           Tolkien, Christopher            Tolkien   http://d-nb.info/gnd/130457671
21  1340-01-01  1370-01-01                 NaN  notKnown    Ap Gwilym       Dafydd              Dafydd, Ap Gwilym                NaN   http://d-nb.info/gnd/119420139
22  1922-09-19  2002-04-15               Damon      male          NaN          NaN                  Knight, Damon             Knight   http://d-nb.info/gnd/107522535
23  1931-07-07  2009-06-02               David      male          NaN          NaN                 Eddings, David            Eddings   http://d-nb.info/gnd/129035998
24  1962-02-21  2008-09-12        David Foster      male          NaN          NaN          Wallace, David Foster            Wallace   http://d-nb.info/gnd/122865251
25  1895-11-01  1974-10-28       David Michael      male          NaN          NaN           Jones, David Michael              Jones   http://d-nb.info/gnd/118776355
26  1952-01-01         NaN               David  notKnown          NaN          NaN                 Zindell, David            Zindell   http://d-nb.info/gnd/124918034
27  1934-08-16  2011-03-26         Diana Wynne  notKnown          NaN          NaN             Jones, Diana Wynne              Jones   http://d-nb.info/gnd/123453658
28  1904-01-01  1977-01-01              Edmond  notKnown          NaN          NaN               Hamilton, Edmond           Hamilton   http://d-nb.info/gnd/124788297
29  1896-01-01  1974-01-01              Edmund  notKnown          NaN          NaN                Blunden, Edmund            Blunden   http://d-nb.info/gnd/118512102
30  1885-08-15  1968-04-16                Edna    female          NaN          NaN                   Ferber, Edna             Ferber   http://d-nb.info/gnd/118683284
31  1928-03-12  2016-09-16              Edward      male          NaN          NaN                  Albee, Edward              Albee   http://d-nb.info/gnd/118501380
32  1878-01-01  1917-01-01              Edward      male          NaN          NaN                 Thomas, Edward             Thomas   http://d-nb.info/gnd/118622161
33  1810-01-01  1865-01-01  Elizabeth Cleghorn    female          NaN          NaN    Gaskell, Elizabeth Cleghorn            Gaskell   http://d-nb.info/gnd/118689649

In [ ]:
#Add works
import certifi
import urllib3
import urllib
from html.parser import HTMLParser

class MyHTMLParser(HTMLParser):
    works = []
    record = False
    
    def handle_starttag(self, tag, attrs):
        if 'a' in tag:
            self.record = True

    def handle_endtag(self, tag):
        if 'a' in tag:
            self.record = False

    def handle_data(self, data):
        if self.record:
            self.works.append(data.replace('\t', '').replace('\n', ''))

def retrieveListWork(gndIdentifier, index):
    http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED', ca_certs=certifi.where())
    if index < 10:
        url = "https://portal.dnb.de/opac.htm?method=simpleSearch&reset=true&cqlMode=true&query=auRef%3D{}&selectedCategory=any".format(gndIdentifier)
    else:
        url = "https://portal.dnb.de/opac.htm?method=simpleSearch&query=auRef%3D{}&sortOrderIndex=&cqlMode=true&hitnumber={}".format(gndIdentifier, index)
    r = http.request('GET', url)
    parser = MyHTMLParser()
    parser.works = []
    htmlPage = r.data.decode('utf-8')
    if '<table id="searchresult" border="0" cellpadding="0" cellspacing="0" class="searchresult" summary="Suchergebnis">' in htmlPage:
        htmlPage = htmlPage.split('<table id="searchresult" border="0" cellpadding="0" cellspacing="0" class="searchresult" summary="Suchergebnis">')[-1]
        htmlPage = htmlPage.split('</table>')[0]
        htmlPage = htmlPage.replace('\\t', '')
        htmlPage = htmlPage.replace('\\n', '')
        htmlPage = htmlPage.replace('<br/>', '|')
        parser.feed(htmlPage)
    
    return parser.works

dfAuthorWithWorks = pd.DataFrame()

for index, row in dfAuthor.iterrows():
    index = 1
    author_works = []
    newResults = True
    while newResults:
        newWorks = retrieveListWork(row['gndIdentifier'], index)
        if len(newWorks) > 0:
            author_works.append(newWorks)
            index += 10
        else:
            row['work'] = author_works
            dfAuthorWithWorks = dfAuthorWithWorks.append(row)
            newResults = False
        
display(dfAuthorWithWorks)

In [ ]:
# Double-Check if hitnumber plus 10 can be fixed!
import csv
dfAuthorWithWorks.to_csv('DnbDataAuthorsWorkNew.csv', sep=',', encoding='utf-8', index=False, quotechar='"', quoting=csv.QUOTE_ALL)